html {
    background-color: #3f545d;
}

header h1{
    display: flex;
    justify-content: center;
}

img{
    width:80%;
    object-fit: contain;
    border: 5px solid purple;
}

#welcome{
    max-width: 100%;
    margin:0 auto;
    border: 5px solid red;
}

#welcome p{
    position: absolute;
    top: 350px;
    left: 175px;
    width: 30%;
    font-weight: bold;
    
}

#cloud{
    border: 5px solid blue;
    width: 700px;
    height: 700px;
    position: absolute;
    left: 300px;
    }

#kc-135{
    scale: 30%;
    transform: rotate(45deg);
}

#f-16{
    scale: 30%;
    transform: rotate(-45deg);
}

#my_jet{
flex: initial;
}